<div class="bkg-img-pro">
  <h1 class="text-white text-center display-5 ps-5 py-3 mb-5">プロフィール編集</h1>
  <div class="container">
    <div class="row">
      <%= render partial: 'layouts/flash' %>
      <div class="col-md-10 offset-md-1 mt-2">
        <div class="card bg-color-pro">
          <div class="card-body w-75 align-self-center">
            <%= form_with model: @user, url: profile_path, local: true, class: "table mt-3 text-white me-4" do |f| %>
                <div class="form-group">
                  <%= f.label :name, "名前:", class: "fs-4" %>
                  <%= f.text_field :name, class: "form-control py-2 mb-4" %>
                </div>

                <div class="form-group">
                  <%= f.label :email, "メールアドレス:", class: "fs-4" %>
                  <%= f.email_field :email, class: "form-control py-2 mb-4" %>
                </div>

                <div class="form-group">
                  <%= f.label :avatar, "プロフィール画像:", class: "fs-4" %>
                  <%= f.file_field :avatar, class: "form-control", id: 'avatarImg', accept: 'image/*' %>
                  <%= f.hidden_field :avatar_cache %>
                  <div class='mt-3 py-2 mb-4 text-center'>

                    <%# FIXME: 画像ファイルが正しく読みこまえれない場合一、時的にデフォルトアバターを表示させる 23/12/24 %>
                    <%#= image_tag @user.avatar.url, id: 'preview', class: 'rounded-circle', size: '100x100' %>
                    <%= avatar_image_tag(@user, 'rounded-circle', '100x100') %>


                  </div>
                </div>

                <div class="text-center d-flex">
                  <%= f.submit "更新", class: "btn btn-success w-50 fs-5" %>
                  <%= link_to "戻る", profile_path, class: "btn btn-outline-success btn-profile-custom w-50  fs-5 ms-3" %>
                </div>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-start">
        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'preview.js' %>