<div class="bkg-img-pro">
  <h1 class="text-white text-center ps-5 py-3 mb-5">プロフィール</h1>
  <div class="container">
    <%= render partial: 'layouts/flash' %>
    <div class="px-5 py-3 mx-5 mb-3 d-flex flex-column align-items-center">
      <div class="card bg-color-pro w-75 mb-5">
        <table class="table rounded text-center text-white">
          <tr>
            <th class="table-td-color border border-1 rounded border-dark">アバター</th><th class="table-td-color border border-1 rounded border-dark">ユーザーネーム</th>
          </tr>
          <tr>
            <td rowspan="3" class="border border-1 border-dark"><%= image_tag("#{@user.avatar}", size: '100x100', class: 'rounded-circle') %></td><td class="border border-1 border-dark"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table-td-color border border-1 rounded border-dark">メール</th>
          </tr>
          <tr>
            <td class="border border-1 border-dark"><%= @user.email %></td>
          </tr>
        </table>
        <div class="px-2 pb-3">
          <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right w-100' %>
        </div>
      </div>

      <h2 class="text-white">~ My投稿一覧 ~</h2>
      <div class="card bg-color-pro w-75 pt-5">
        <div  class="card-body">
          <div class="text-white d-flex justify-content-start mb-2">
            <div class="fs-5 me-2">
              <%= link_to '公開', profile_path(@user, format: :js, type: 'published'), remote: true, data: { type: 'js' } %>
            </div>
            <div class="fs-5 me-2">
              <%= link_to '非公開', profile_path(@user, format: :js, type: 'unpublished'), remote: true, data: { type: 'js' } %>
            </div>
          </div>
          <div id="select_posts">
            <%= render partial: 'shared/posts_list', locals: { posts: @published_posts } %>
          </div>
        </div>
      </div>
    </div>
    



  </div>
</div>
