<header>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm sticky-top bg-color">
    <div class="container-fluid">
      <div>
        <%= image_tag "music_icon.png", class: "mb-2", size: 5*5 %>
        <a class="navbar-brand text-white fw-bold" href="/">フラッと×セッション</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li><%= link_to "投稿一覧", posts_path, class: "nav-link text-white active" %></li>
          <% if logged_in? %>
            <li><%= link_to "録音する", new_recording_path, class: "nav-link text-white" %></li>
            
            <li>
              <div class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= image_tag current_user.avatar_url, class: 'rounded-circle mr15', size: '30x30'%>
                </a>
                
                <div class='dropdown-menu dropdown-menu-end'>
                  <div class='dropdown-item'><%= current_user.name %></div>
                  <div class='dropdown-divider'></div>
                  <%= link_to 'プロフィール詳細', profile_path, class: 'dropdown-item' %>
                  <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %> 
                </div>
              </div>
            </li>
            
          <% else %>
            <li><%= link_to "登録", new_user_path, class:"nav-link text-white" %></li>
            <li><%= link_to 'ログイン', login_path, class: 'nav-link text-white' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>