<div class="my-5">
  <div class="text-center my-5">
    <h1 class="fw-bold">アプリの使い方</h1>
  </div>

  <section>
    <div class="container">
      <div class="pb-5">
        <h2 class="fw-bold">①録音する</h2>
        <div class="d-flex flex-row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP1：録音画面へ移動</h3>
                <p class="card-text">①投稿一覧画面に移動</p>
                <p class="card-text">②録音ボタンを押す</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>
          
          <div class="col d-flex flex-row">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP2：レコーディング開始</h3>
                <p class="card-text">①recボタン押して録音開始->stopボタンで停止</p>
                <p class="card-text">②play＆pauseボタンで音声確認したらnextボタンでフォームへ移動</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>
          
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP3：投稿する</h3>
                <p class="card-text">①タイトル・詳細・公開設定を記入</p>
                <p class="card-text">②投稿ボタンを押して投稿完了</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-top">
    <div class="container">
      <div class=" py-5">
        <h2 class="fw-bold">②コラボする</h2>
        <div class="d-flex flex-row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP1：録音画面へ移動</h3>
                <p class="card-text">①投稿一覧画面に移動</p>
                <p class="card-text">②気になる投稿を見つけて詳細ボタンを押す</p>
                <p class="card-text">③セッションボタンを押す</p>
                <p class="card-text">補足：一覧画面/セッションボタンを押した場合は<br>サンプル音源が元音声になります</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP2：コラボ開始</h3>
                <p class="card-text">①recボタンを押す(スピーカー上で流れる元音声に合わせて録音開始)/stopボタンで録音停止</p>
                <p class="card-text">②play＆pauseボタンで音声確認したらnextボタンでフォームへ移動</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP3：投稿する</h3>
                <p class="card-text">①タイトル・詳細・公開設定を記入</p>
                <p class="card-text">②投稿ボタンを押して投稿完了</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="py-5">
        <h2 class="fw-bold">③体験する</h2>
        <div class="d-flex flex-row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP1：チュートリアルへ移動</h3>
                <p class="card-text">①トップページの「はじめるボタン」を押す</p>
                <p class="card-text">②選択画面でチュートリアルを選択</p>
                <p class="card-text">補足：投稿閲覧を選択した場合はコラボ録音機能の体験ができます</p>
                <p class="card-text">※新規投稿はログインユーザーのみ可能</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP2：パルマ（手拍子を知る＆難易度の選択</h3>
                <p class="card-text">①パルマ（手拍子）やり方を確認</p>
                <p class="card-text">②難易度を選択すると録音画面へ移動</p>
                <p class="card-text">補足：難易度1または2を行った後に3の挑戦がオススメ</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>

          <i class="fa-solid fa-angle-right fa-3x align-self-center mx-3"></i>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">STEP3：パルマ（手拍子）を叩いて録音</h3>
                <p class="card-text">①録音方法、お手本音声を確認する</p>
                <p class="card-text">②recボタンで録音開始/stopボタンで録音停止</p>
                <p class="card-text">③play＆pauseボタンで録音した音声を確認</p>
              </div>
              <%= image_tag "録音テキスト1.png", size: "225x400" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

