<div class="bg-dark-custom py-5">
  <div class="text-white text-center my-5">
    <h1 class="fw-bold">アプリの使い方</h1>
  </div>

  <section>
    <div class="py-5 px-4" id="explain-recording">
      <div class="container">
        <h2 class="text-white fw-bold">①録音する</h2>
        <div class="d-lg-flex flex-row">
          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP1：録音画面へ移動</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①投稿一覧画面に移動</p>
                  <p>②録音ボタンを押す</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>
          
          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>
          
          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP2：録音開始</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①recボタン押して録音開始/stopボタンで停止</p>
                  <p>②play＆pauseボタンで音声確認したらnextボタンでフォームへ移動</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>

          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>
          
          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP3：投稿する</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①タイトル・詳細・公開設定を記入</p>
                  <p>②投稿ボタンを押して投稿完了</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bg-dark-sub-custom py-5 px-4" id="explain-collab">
      <div class="container">
        <h2 class="text-white fw-bold">②セッションする</h2>
        <div class="d-lg-flex flex-row">
          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP1：録音画面へ移動</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①投稿一覧画面に移動</p>
                  <p class="mb-2">②気になる投稿を見つけて詳細ボタンを押す</p>
                  <p class="mb-1">③セッションボタンを押す</p>
                  <p class="fs-6">補足：一覧画面/セッションボタンを押した場合はサンプル音源が元音声になります</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>

          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>

          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP2：セッション開始</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-1">①recボタンを押す/stopボタンで録音停止</p>
                  <p class="fs-6 mb-3">補足：スピーカー上で流れる元音声に合わせて録音開始</p>
                  <p>②play＆pauseボタンで音声確認したらnextボタンでフォームへ移動</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>

          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>

          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP3：投稿する</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①タイトル・詳細・公開設定を記入</p>
                  <p>②投稿ボタンを押して投稿完了</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="py-5 px-4" id="explain-tutorial">
      <div class="container px-4">
        <h2 class="text-white fw-bold">③体験する</h2>
        <div class="d-lg-flex flex-row">
          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP1：チュートリアルへ移動</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①トップページの「はじめるボタン」を押す</p>
                  <p class="mb-1">②選択画面でチュートリアルを選択</p>
                  <p class="fs-6 mb-3">補足：投稿閲覧を選択した場合はコラボ録音機能の体験ができます</p>
                  <p class="fs-6">※新規投稿はログインユーザーのみ可能</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>

          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>

          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP2：パルマ（手拍子）を知る＆難易度の選択</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①パルマ（手拍子）のやり方を確認</p>
                  <p class="mb-1">②難易度を選択すると録音画面へ移動</p>
                  <p class="fs-6">補足：難易度1または2以降に難易度3への挑戦がオススメ</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>

          <div class="text-center align-self-lg-center text-white mx-3">
            <i class="fa-solid fa-angle-right fa-3x d-none d-lg-block"></i>
            <i class="fa-solid fa-angle-down fa-3x d-lg-none"></i>
          </div>

          <div class="col">
            <div class="card h-100 p-2">
              <div class="card-body font-monospace">
                <h3 class="card-title fw-bold mb-4">STEP3：パルマ（手拍子）を叩いて録音</h3>
                <div class="card-text fw-bold fs-5 px-3">
                  <p class="mb-2">①録音方法、お手本音声を確認する</p>
                  <p class="mb-2">②recボタンで録音開始/stopボタンで録音停止</p>
                  <p>③play＆pauseボタンで録音した音声を確認</p>
                </div>
              </div>
              <%# 画像は仮で設定 %>
              <div class="d-flex justify-content-center pb-4">
                <%= image_pack_tag "media/images/録音テキスト1.png", size: "225x400" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

