
<%# 録音画面 %>
<div class="bkg-img-index" id="recording_screen">
  <div class="container">
    <h1 class="text-white py-5">RECORDING</h1>

    <%# コラボ元音源の再生処理の追加が必要 %>
    <%# posts/indexビューで、コラボボタンがクリックされた場合表示 %>
    <% if @audio_flg.present? && @audio_flg == "default_audio" %>
      <div id="defaultAudioContainer"></div>
      <%= render "layouts/guest_tutorial/audio_slider", slider_type: "audio", size: "50" %>
    <% elsif @audio_flg.present? && @audio_flg == "post_audio" %>
      <div id="collabAudioContainer" data-audio-url="<%= rails_blob_path(@collab_post.voice, disposition: "attachment") %>"></div>
      <%= render "layouts/guest_tutorial/audio_slider", slider_type: "audio", size: "50" %>
    <% end %>


    <div class="pt-4 pb-3 mb-5">
      <h3 class="text-center mb-4">↓↓ レコーディング開始!! ↓↓</h3>
      <div class="mb-3">
        <div class="mb-5 d-flex justify-content-center">
          <%= render "layouts/guest_tutorial/recording_btn" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= render "layouts/guest_tutorial/audio_slider", slider_type: "post-record", size: "50" %>
          <button type="button" class="btn stop-btn btn-lg text-white ms-3 none" id="buttonNext" >Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 投稿フォーム %>
<div class="bkg-img-pro form-style" id="post_form">
  <h1 class="text-white  text-left ps-5 py-3 mb-5 bg-dark bg-gradient">投稿画面</h1>
  <div class="container">
    <%= render partial: 'layouts/flash' %>
    <p class="text-white">投稿フォーム</p>

    <div>
      <%= render "layouts/guest_tutorial/audio_slider", slider_type: "form-record", size: "100" %>
    </div>


    <div>
      <%= render 'posts/form', post: @post %>
    </div>

  </div>
</div>

<%# JS読み込み %>
<% if @audio_flg.present? %>
  <%= javascript_pack_tag 'collab-play-audio' %>
<% end %>

<%= javascript_pack_tag 'create-audio' %>