<h1>posts#show</h1>


<div>
  <%= link_to "一覧へ", posts_path %>
</div>

<div>
  <p>内容</p>
    <p><%= @post.id %></p>
    <p><%= @post.title %></p>
    <p><%= @post.body %></p>
    <br>
  
  <div>
      <button type="button" id="playback">再生</button>
    <% if @ref_post || @root_post %>
      <button type="button" id="collabPlayback">同時再生</button>
    <% end %>
  </div>
  <% if @post.voice.attached? %>
    <p>音源:</p>
    <p><%= @post.id %></p>
    <p><%= audio_tag(url_for(@post.voice), controls: true, id: "record", class: "manyRecords") %></p>
  <% end %>
  
  <% if @ref_post %>
    <p>セッション元音源:</p>
    <p><%= @ref_post.id %></p>
    <p><%= audio_tag(url_for(@ref_post.voice), controls: true, id: "refRecord", class: "manyRecords") %></p>
  <% end %>
  
  <% if @root_post %>
    <p>ベース音源</p>
    <%= @root_post.id %>
    <p><%= audio_tag(url_for(@root_post.voice), controls: true, id: "rootRecord", class: "manyRecords") %></p>
  <% end %>
  
  <% unless @root_post %>
    <p><%= link_to 'セッションする', new_post_path(ref_id: @post.id) %></p>
  <% end %>
</div>

<%= javascript_pack_tag 'playback-audio' %>