<h1>posts#show</h1>


<div>
  <%= link_to "一覧へ", posts_path %>
</div>

<div>
  <p>内容</p>
    <% if @post.collab_src.present? %>
      <p><%= "【コラボ投稿】" %></p>
    <% else %>
      <p><%= "【投稿】" %></p>
    <% end %>
    <p><%= "ID: #{@post.id}" %></p>
    <p><%="タイトル:  #{@post.title}"  %></p>
    <p><%= "内容: #{@post.body}" %></p>
    <br>
  
  <%# ボタン %>
  <div class="btn">
      <button type="button" id="playback">再生</button>
  </div>

  <%# 音源 %>
  <% if @post.voice.attached? %>
    <p>音源:</p>
    <p><%= @post.id %></p>
    <p><%= @post.title %></p>
    <p><%= audio_tag(url_for(@post.voice), controls: true, id: "record") %></p>
  <% end %>
  
  <br>
  
  <% unless @root_post %>
    <p><%= link_to 'セッションする', new_post_path(ref_id: @post.id) %></p>
  <% end %>
</div>

<%= javascript_pack_tag 'playback-audio' %>