<div class="bkg-img">
  <h1 class="text-white  text-left ps-5 py-3 mb-5 bg-dark bg-gradient">詳細</h1>
  <div class="container">

    <div class="px-5 pb-5 mx-5">
      <%# コラボが2回以上されていなければボタンを表示 %>
      <% unless @root_collab_post %>
          <div class="d-grid gap-2 mb-3 d-flex justify-content-center">
          <%# コラボ音声取得のためにクエリパラメータに投稿idを設定 %>
            <%= link_to 'セッションする', new_post_path(audio_flg: "posted_audio", collab_post_id: @post.id), type: "button", class: "btn btn-custom fs-5 fw-bold text-white border border-dark py-2 w-50" %>
          </div>
      <% end %>

      <%# カードレイアウト実装 8/17 %>
      <div class="card bg-color-post-card">
        <div class="card-header d-flex justify-content-between mx-2">
          <div class= "fw-bold py-1">
            <%= image_tag("#{@post.user.avatar}", size: '40x40', class: 'rounded-circle') %>
            <%= @post.user.name %>
          </div>
          <div class="btn-group ms-auto" role="group" aria-label="Basic outlined example">
              <%# ログインしているか・投稿者本人かを確認 %>
              <% if logged_in? && current_user.id == @post.user.id %>
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-dark fs-5 py-2 px-4", type: "button" %>
                <%= link_to '削除', post_path(@post), method: "delete", data: { confirm: "削除しますか？"}, class: "btn btn-outline-dark fs-5 py-2 px-4", type: "button" %>
                <%= link_to '戻る', posts_path, class: "btn btn-outline-dark fs-5 py-2 px-4", type: "button" %>

              <% end %>
            </div>
        </div>
        
        <div class="card-body d-flex justify-content-between mb-3">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">ギター</button>
            <button type="button" class="btn btn-outline-primary">アレグリアス</button>
            <button type="button" class="btn btn-outline-primary">ファルセータ</button>
          </div>
        </div>

        <div class="card-body mb-5 ms-4">
          <h2 class="card-title fw-bold fs-2"><%= @post.title %></h2>
          <p class="card-text text-truncate fs-5"><%= @post.body %></p>
          <div class="ms-auto mt-4 me-5 mb-2">
            <%= render "layouts/guest_tutorial/audio_slider", slider_type: "audio", slider_size: "75", audio_blob_url: @post.voice %>
            <%#= render "shared/audio_player", audio_container_class: "js-posted-audio-container", audio_blob: @post.voice, slider_size: "75" %>
          </div>
          <%# if @post.voice.attached? %>
            <%#= audio_tag(url_for(post.voice), controls: true, class: "w-100") %>
          <%# end %>
          <div class="my-5">
            <h3>セッション回数</h3>
          </div>
          <div>
            <h3>セッション元サウンド</h3>
            <div class="card text-white bg-secondary mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body border-top border-bottom border-3 border-secondary d-flex justify-content-start text-muted mb-5 mx-4">
          <div class=""></div>
          <a href="#" class="fs-5">コメント 10件</a>
          <a href="#" class="fs-5 ms-2">オレ〜!! 20件</a>
        </div>

        <div class="card-body mb-5 ms-4">
          <h3>コメント一覧</h3>

        </div>
      </div>
    </div>

<%
=begin
%>
    <div class="card mt-5">
      <div class="card-body">
        <h2 class="card-title"><%= "#{@post.title}" %></h2>

        <%# 音源 %>
        <% if @post.voice.attached? %>
          <p><%= audio_tag(url_for(@post.voice), controls: true, id: "record") %></p>
          <p><span id= "output">0.000</span></p>
          <% if @post.collab_src.present? %>
            <p><%= audio_tag(url_for(@parent_post.voice), controls: true, id: "refRecord") %></p>
            <p><span id= "output2">0.000</span></p>
            <p>コラボ元</p>
          <% end %>
          <p><span id= "output3">0.000</span></p>
          <div>
              <button type="button" class="btn btn-outline-secondary mb-3" id="playback">再生</button>
              <button type="button" class="btn btn-outline-secondary mb-3" id="stopBtn">停止</button>
          </div>
        <% end %>

        <p class="card-text "><%= "#{@post.body}" %></p>
        <%# 自身のみ表示 %>
        <p class="card-text"><%= "#{@post.status}" %></p>

        <p class="card-text"><%= "ユーザー名: #{@post.user.name}" %></p>
        
        
        <p class="card-text"><%= "ID: #{@post.id}" %></p>
        
        <% if @post.collab_src.present? %>
          <p class="card-text"><%= "コラボ投稿" %></p>
        <% else %>
          <p class="card-text"><%= "通常投稿" %></p>
        <% end %>

      </div>
    </div>
<%
=end
%>

  </div>
</div>



<%= javascript_pack_tag 'audio-playback' %>