<div class="bkg-img">
  <h1 class="text-white  text-left ps-5 py-3 mb-5 bg-dark bg-gradient">詳細</h1>
  <div class="container">

    <% unless @root_post %>
        <div class="d-grid gap-2">
          <%= link_to 'コラボする', new_post_path(ref_id: @post.id), type: "button", class: "btn btn-custom  text-white border border-dark" %>
        </div>
    <% end %>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= "#{@post.title}" %></h2>

        <%# 音源 %>
        <% if @post.voice.attached? %>
          <p><%= audio_tag(url_for(@post.voice), controls: true, id: "record") %></p>
          <p><span id= "output">0.000</span></p>
          <% if @post.collab_src.present? %>
            <p><%= audio_tag(url_for(@ref_post.voice), controls: true, id: "refRecord") %></p>
            <p><span id= "output2">0.000</span></p>
            <p>コラボ元</p>
          <% end %>
          <p><span id= "output3">0.000</span></p>
          <div>
              <button type="button" class="btn btn-outline-secondary mb-3" id="playback">再生</button>
              <button type="button" class="btn btn-outline-secondary mb-3" id="stopBtn">停止</button>
          </div>
        <% end %>

        <p class="card-text "><%= "#{@post.body}" %></p>
        <%# 自身のみ表示 %>
        <p class="card-text"><%= "#{@post.status}" %></p>

        <p class="card-text"><%= "ユーザー名: #{}" %></p>
        
        
        <p class="card-text"><%= "ID: #{@post.id}" %></p>
        
        <% if @post.collab_src.present? %>
          <p class="card-text"><%= "コラボ投稿" %></p>
        <% else %>
          <p class="card-text"><%= "通常投稿" %></p>
        <% end %>

      </div>
    </div>

  </div>
</div>




<%= javascript_pack_tag 'playback-audio' %>